<!DOCTYPE html>
<section id="partnerships"
         ng-controller="PartnershipsPage">
  <md-card layout="column"
           layout-fill
           class="oppia-foundation-horizontal-padding
                  oppia-foundation-green-background
                  oppia-foundation-vertical-padding"
                  style="padding-right: 0px">
    <div flex
         layout-gt-md="row"
         layout-xs="column"
         layout-align="space-between none"
         layout-fill>
      <div flex-gt-md="80"
           flex="100"
           class="oppia-foundation-right-padding">
        <md-card-content layout="column"
                         class="oppia-foundation-white-text
                                oppia-foundation-no-padding">
          <md-content class="oppia-foundation-white-text
                             oppia-foundation-green-background
                             partnerships-page-description-text-box">
            <md-card-title>
              <md-card-title-text>
                <h1 class="md-display-2"
                    hide-xs>
                  We're looking for partners
                </h1>
                <h3 class="md-display-1"
                    show-xs
                    hide-gt-xs>
                  We're looking for partners
                </h3>
              </md-card-title-text>
            </md-card-title>
              <h4 class="md-headline partnerships-page-title-box"
                  hide-xs>
                The Oppia Foundation has already helped over 1,000,000 learners. 
                Help us bring engaging, effective lessons to students around
                the worlds.
              </h4>
              <h6 strong
                  class="md-headline partnerships-page-title-box"
                  show-xs
                  hide-gt-xs>
                The Oppia Foundation has already helped over 1,000,000 learners. 
                Help us bring engaging, effective lessons to students around 
                the world.
              </h6>
          </md-content>
        </md-card-content>
      </div>
      <div class="partnerships-page-welcome-image-container"
           layout="column"
           layout-align="center">
        <img class="partnerships-page-donate-hand-image"
             src="/assets/images/partnerships/partnerships_right_donating_hands.svg"
             alt="Right donating hands">
      </div>
    </div>
  </md-card>
  <md-card layout-fill
           class="oppia-foundation-gray-background
                  oppia-foundation-vertical-padding
                  oppia-foundation-horizontal-padding">
    <div layout-gt-md="row"
         layout-xs="column"
         layout-align="space-between none"
         layout-fill
         flex>
      <md-card-content flex-gt-md="50"
                       layout="column"
                       class="oppia-foundation-no-padding">
        <md-content layout="column"
                    layout-align="center none"
                    class="oppia-foundation-gray-background
                           oppia-foundation-black-text
                           partnerships-page-description-text-box">
          <h3 class="md-display-1 partnerships-description-headline-padding">
            Empowering students in every community
          </h3>
          <p>
            Overcrowded classrooms, scarce materials, outdated teaching 
            methods and excessive punishments prevent students in underserved 
            communities from acquiring the knowledge they need to be 
            successful later in life.
          </p>
          <p>
            It’s a problem that isn’t limited to developing countries. 
            In the United States, low income and rural students consistently 
            show major achievement gaps compared to their more affluent peers.
          </p>
          <p>
            The Oppia Foundation believes a digital classroom that provides 
            access to interactive, engaging lessons is the key to closing 
            these gaps in educational outcomes.
          </p>
        </md-content>
      </md-card-content>
      <div hide-xs
           hide-sm
           hide-md
           layout="column"
           layout-align="center"
           layout-wrap
           flex-gt-md="50">
        <img src="/assets/images/partnerships/partnerships_empower.jpeg"
             class="partnerships-page-empower-image"
             alt="Empower image">
      </div>
    </div>
  </md-card>
  <md-card layout-fill
           class="oppia-foundation-white-background
                  oppia-foundation-horizontal-padding
                  oppia-foundation-vertical-padding">
    <md-card-content layout-gt-md="row"
                     layout-xs="column"
                     class="oppia-foundation-no-padding">
      <img src="/assets/images/partnerships/partnerships_our_approach.jpg"
           class="partnerships-page-approach-image"
           alt="Our approach image">
      <md-content flex-gt-md="50"
                  layout="column"
                  layout-align="center none"
                  class="oppia-foundation-white-background
                         oppia-foundation-black-text
                         partnerships-page-description-text-box">
        <h3 class="md-display-1
                   partnerships-description-headline-padding">
          Our Approach
        </h3>
        <p>
          The goal of our foundation is to give students of all backgrounds a 
          chance to learn the skills they need to build brighter futures for 
          themselves and their communities.
        </p>
        <p>
          We are building a global community of educators to build a library of 
          lessons that gives anyone an opportunity to learn about what interests 
          them.
        </p>
        <p>
          By allowing educators to create lessons that provide personalized 
          feedback, we aim to give students from every walk of life the 
          one-on-one support of a private tutor. We are also currently working 
          on incorporating machine learning to make feedback even more personal 
          and dynamic.
        </p>
      </md-content>
    </md-card-content>
  </md-card>
  <md-card layout-fill
           class="oppia-foundation-green-background
                  oppia-foundation-white-text
                  oppia-foundation-mobile-and-tablet-vertical-padding
                  oppia-foundation-horizontal-padding">
    <div hide-gt-md
         flex-gt-md="50"
         flex="100"
         layout="column"
         layout-align="center"
         layout-wrap>
      <img src="/assets/images/partnerships/partnerships_evidence.png"
           class="partnerships-page-evidence-image"
           alt="Evidence graph">
    </div>
    <md-card-content layout-gt-md="row"
                     layout="column"
                     class="oppia-foundation-no-padding">
      <md-content layout="column"
                  layout-align="center none"
                  class="oppia-foundation-green-background
                         oppia-foundation-white-text
                         partnerships-page-description-text-box">
        <h3 class="md-display-1 partnerships-description-headline-padding">
          Evidence of our success
        </h3>
        <p>
          Together with EvalDesign, we conducted a randomized controlled trial 
          of our learning platforms with students in Delhi, India and found 
          improvements in concept master as great as 79% compared to controls.
        </p>
        <p>
          User studies have shown that students throughout the world find Oppia 
          lessons enjoyable and impactful.
        </p>
      </md-content>
      <div hide-xs
           hide-sm
           hide-md
           flex-gt-md="50"
           class="oppia-foundation-vertical-padding">
        <img 
           src="/assets/images/partnerships/partnerships_evidence.png"
           class="partnerships-page-evidence-image"
           alt="Evidence graph">
      </div>
    </md-card-content>
  </md-card>
  <md-card layout="column"
           layout-gt-xs="row"
           layout-fill
           class="oppia-foundation-white-background">
    <div class="partnerships-page-student-image-padding"
         layout-fill
         layout="column">
      <div 
           layout="column"
           layout-align="center">
        <img src="/assets/images/partnerships/partnerships_student_image.jpg"
             class="partnerships-page-student-quote-image"
             alt="Student image">
      </div>
      <div class="partnerships-page-quote-overlay
                  oppia-foundation-horizontal-padding">
        <md-card-content layout="column"
                         layout-align="center none"
                         class="partnerships-page-student-quote-box
                                oppia-foundation-white-background
                                oppia-foundation-no-padding">
          <md-content layout="column"
                      layout-align="center none"
                      class="oppia-foundation-white-background
                             partnerships-page-student-image-blockquote
                             oppia-foundation-black-text">
            <span class="oppia-foundation-left-align-text">
              &ldquo;
              I liked learning [with Oppia] on mobile because we get very good 
              questions and, if we get something wrong, we are told how to 
              correct it.
              &rdquo;
            </span>
          </md-content>
          <cite class="oppia-foundation-cite-text-box">
            <span class="oppia-foundation-bold-text">
              - Student from India, age 9
            </span>
          </cite>
        </md-card-content>
      </div>
    </div>
  </md-card>
  <md-card layout="column"
           layout-fill
           class="oppia-foundation-white-background
                  oppia-foundation-horizontal-padding">
    <md-card-content
      class="oppia-foundation-no-padding"
      layout="column"
      layout-align="center center">
      <md-content layout="column"
                  layout-align="center center"
                  class="oppia-foundation-white-background
                         oppia-foundation-black-text
                         partnerships-page-description-text-box">
        <h3 class="md-display-1
                   partnerships-description-headline-padding">
          We're ready to grow!
        </h3>
        <p class="oppia-foundation-center-align-text">
          Building a dynamic, global community to transform online learning is 
          a bold vision that requires generous support.
        </p>
        <p class="oppia-foundation-center-align-text
                  oppia-foundation-bold-text">
          That's why your help is so important.
        </p>
        <p class="oppia-foundation-center-align-text">
          Here are some of the challenges that your involvement can help us 
          tackle in the near future:
        </p>
      </md-content>
      <div class="oppia-foundation-vertical-padding"
           layout-gt-xs="row"
           layout="column"
           layout-align="center center">
        <div layout-gt-xs="column"
             layout="row"
             layout-align="center center">
          <img src="/assets/icons/magnifier_icons.svg"
               class="partnerships-page-grow-card-icon"
               alt="Magnifier icon">
          <md-content class="oppia-foundation-white-background
                             oppia-foundation-black-text
                             oppia-foundation-mobile-left-padding
                             partnerships-page-icon-description-text-box">
            <p class="oppia-foundation-center-align-text">
              Conducting Randomized Controlled Trial
            </p>
          </md-content>
        </div>
        <div layout-gt-xs="column"
             layout="row"
             layout-align="center center"
             class="oppia-foundation-tablet-and-desktop-horizontal-padding
                    oppia-foundation-mobile-vertical-padding">
          <img src="/assets/icons/podium_icon.svg"
               class="partnerships-page-grow-card-icon"
               alt="Podium icon">
          <md-content class="oppia-foundation-white-background
                             oppia-foundation-black-text
                             oppia-foundation-mobile-left-padding
                             partnerships-page-icon-description-text-box">
            <p class="oppia-foundation-center-align-text">
              Funding Our Best Content Creators
            </p>
          </md-content>
        </div>
        <div layout-gt-xs="column"
             layout="row"
             layout-align="center center">
          <img src="/assets/icons/scaling_icons.svg"
               class="partnerships-page-grow-card-icon"
               alt="Scaling icon">
          <md-content class="oppia-foundation-white-background
                             oppia-foundation-black-text
                             oppia-foundation-mobile-left-padding
                             partnerships-page-icon-description-text-box">
            <p class="oppia-foundation-center-align-text">
              Scaling Our Platforms And Outreach
            </p>
          </md-content>
        </div>
      </div>
    </md-card-content>
  </md-card>
  <md-card layout="column"
           layout-gt-sm="row"
           layout-fill
           class="oppia-foundation-gray-background
                  oppia-foundation-vertical-padding
                  oppia-foundation-horizontal-padding">
    <md-card-content flex-gt-sm="45"
                     class="oppia-foundation-no-padding">
      <md-content class="oppia-foundation-gray-background
                         oppia-foundation-black-text
                         partnerships-page-description-text-box">
        <h3 class="md-display-1
                   partnerships-description-headline-padding">
          Get in touch
        </h3>
        <p>
          We’re incredibly excited about what’s going on at Oppia. We are 
          looking for organizations that want to join us on our journey to 
          transform how students learn online.
        </p>
        <p>
          There’s a lot more that we have to share about the promise of our 
          platform.
          <a class="email-us-link" 
             href="mailto:{{ADMIN_EMAIL}}?subject={{PARTNERSHIPS_EMAIL_SUBJECT}}">
             Email us
          </a> or fill out this form for more information, 
          questions, or to learn about investment opportunities.
        </p>
        <p>
          We’ll get back to you right away!
        </p>
      </md-content>
    </md-card-content>
    <div flex-gt-sm="10">
    </div>
    <md-card class="md-no-momentum
                    oppia-foundation-white-background
                    oppia-foundation-black-text"
             flex-gt-sm="45"
             style="max-width: 850px;">
      <form name="partnershipsEmailForm"
            class="oppia-foundation-white-background">
        <md-input-container class="md-block">
          <label class="oppia-foundation-uppercase-text">
            Name
          </label>
          <md-icon md-svg-src="/assets/icons/baseline-person-24px.svg"
                   aria-label="Email form person icon">
          </md-icon>
          <input placeholder=""
                 required
                 md-no-asterisk
                 name="fullName"
                 ng-model="fullName">
          <div ng-messages="partnershipsEmailForm.fullName.$error">
            <div ng-message="required">
              Please enter your full name.
            </div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label class="oppia-foundation-uppercase-text">
            Email
          </label>
          <md-icon md-svg-src="/assets/icons/baseline-email-24px.svg"
                   aria-label="Email form email icon">
          </md-icon>
          <input placeholder=""
                 required md-no-asterisk
                 name="email"
                 ng-model="email"
                 ng-pattern="/^.+@.+\..+$/"
                 minlength="10">
          <div ng-messages="partnershipsEmailForm.email.$error" multiple>
            <div ng-message="required">
              Email address is required.
            </div>
            <div ng-message="pattern">
              Please enter a valid email address
            </div>
            <div ng-message="minlength">
              Email must be longer than 10 characters
            </div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label class="oppia-foundation-uppercase-text">
            Organization
          </label>
          <md-icon md-svg-src="/assets/icons/baseline-business-24px.svg"
                   aria-label="Email form business icon">
          </md-icon>
          <input placeholder=""
                 md-no-asterisk
                 name="organization"
                 ng-model="organization">
        </md-input-container>
        <md-input-container class="md-block">
          <label class="oppia-foundation-uppercase-text">
            Message
          </label>
          <md-icon md-svg-src="/assets/icons/baseline-comment-24px.svg"
                   aria-label="Email form comment icon">
          </md-icon>
          <textarea placeholder=""
                    required
                    ng-model="comment"
                    name="comment"
                    rows="5"
                    md-select-on-focus>
          </textarea>
          <div ng-messages="partnershipsEmailForm.comment.$error" multiple>
            <div ng-message="required">
              Message cannot be empty.
            </div>
          </div>
        </md-input-container>
        <md-button class="oppia-foundation-button-horizontal-padding
                          oppia-foundation-gold-border-button"
                   ng-click="submitContactUsForm(
                     fullName, email, organization, comment, $event)"
                   ng-disabled="partnershipsEmailForm.$invalid">
                   Submit
        </md-button>
      </form>
    </md-card>
  </md-card>
</section>

<style>
  md-card-content md-card-title {
    padding-left: 0;
    padding-right: 0;
  }
  .partnerships-page-welcome-image-container {
    border: 0;
    display: block;
    margin: 0;
    padding-left: 40px;
    width: 100%;
  }
  .partnerships-page-title-box {
    line-height: 30pt;
    max-width: 850px;
  }
  .partnerships-description-headline-padding {
    padding-bottom: 20px;
  }
  .partnerships-page-description-text-box {
    line-height: 20pt;
  }
  .partnerships-page-student-quote-box {
    max-width: 350px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 16px 20px;
  }
  .partnerships-page-student-image-blockquote {
    color: black;
    padding: 0;
    border: 0;
    margin: 0;
  }
  .partnerships-page-quote-overlay {
    z-index: 11;
    position: relative;
    bottom: 50px;
  }
  @media screen and (min-width: 100px) {
    .partnerships-page-quote-overlay {
      position: relative;
      bottom: 30px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .partnerships-page-description-text-box {
    margin: auto;
    max-width: 850px;
  }
  .partnerships-page-donate-hand-image {
    border: 0;
    display: block;
    float: right;
    margin: 0;
    position: relative;
  }
  @media screen and (max-width: 1279px) {
    .partnerships-page-donate-hand-image {
      top: 30px;
    }
  }
  @media screen and (min-width: 100px) and (max-width: 500px) {
    .partnerships-page-donate-hand-image {
      width: 250px;
    }
  }
  @media screen and (min-width: 501px) and (max-width: 1279px) {
    .partnerships-page-donate-hand-image{
      width: 350px;
    }
  }
  @media screen and (min-width: 1279px) {
    .partnerships-page-donate-hand-image {
      max-width: calc((100%) - 100px);
    }
  }
  .partnerships-page-empower-image {
    border: none;
    display: block;
    margin: 0 auto;
    max-width: 512px;
    max-height: 512px;
  }
  .partnerships-page-approach-image {
    border: 0;
    display: block;
    margin: auto;
    max-width: 280px;
  }
  @media screen and (max-width: 1220px) {
    .partnerships-page-evidence-image {
      padding-bottom: 20px;
    }
    .partnerships-page-approach-image {
      padding-bottom: 20px;
    }
  }
  @media screen and (max-width: 500px) {
    .partnerships-page-approach-image {
      width: 90%;
    }
  }
  .partnerships-page-evidence-image {
    border: 0;
    display: block;
    margin: auto;
    max-width: 350px;
  }
  @media screen and (max-width: 500px) {
    .partnerships-page-evidence-image {
      padding-bottom: 20px;
    }
  }
  .partnerships-page-student-quote-image {
    border: 0;
    display: block;
    margin: auto;
    z-index: 8;
    position: relative;
  }
  @media screen and (min-width: 660px) {
    .partnerships-page-student-image-padding {
      padding-top: 40px;
    }
  }
  .partnerships-page-grow-card-icon {
    border: 0;
    display: block;
    margin: 0;
    max-width: 90px;
  }
  .partnerships-page-icon-description-text-box {
    font-size: 11pt;
    min-height: 70px;
    width: 190px;
  }
</style>
