# To use this file, execute run_linter.sh and use the command:
#
#   python ../oppia_tools/pylint-runner-0.5.4/pylint_runner/main.py -v

[MASTER]

init-hook='import sys; sys.path.append("./oppia_tools/google_appengine_1.9.73/google_appengine"); sys.path.append("./oppia_tools/testfixtures-6.3.0");'

# Checks for correct docstring style
load-plugins=pylint.extensions.docstyle
ignore=.vscode,oppia_tools

# Use multiple processes to speed up Pylint.
jobs=1

[BASIC]

# Naming style matching correct argument names
argument-naming-style=snake_case

# Naming style matching correct attribute names
attr-naming-style=snake_case

# Regular expression which should only match correct constant names
const-rgx=^(([A-Z_][A-Z0-9_]*)|(__.*__)|([a-z_]+_models)|([a-z_]+_services))$

# Naming style matching correct constant names
const-naming-style=UPPER_CASE

# Naming style matching correct class names
class-naming-style=PascalCase

# Regex for dummy variables (to prevent 'unused argument' errors)
dummy-variables-rgx=_|unused_*

# Regular expression which should only match correct function names
function-rgx=^[_a-z][a-z0-9_]*$

# Good variable names which should always be accepted, separated by a comma
good-names=setUp,tearDown

# Regular expression which should only match correct method names
method-rgx=^([_a-z][a-z0-9_]*|__[a-z0-9]+__)$

# Naming style matching correct module names
module-naming-style=snake_case

# Regular expression which should match good variable names
variable-rgx=[a-z_]+

# Naming style matching correct variable names
variable-naming-style=snake_case

[DESIGN]

# Minimum number of public methods for a class (see R0903).
min-public-methods=0

# List of builtin function names that should not be used, separated by a comma
bad-functions=apply,input

[FORMAT]

max-line-length=80

indent-string='    '

# Expected format of line ending, e.g. empty (any line ending), LF or CRLF.
expected-line-ending-format=LF

# Number of spaces of indent required inside a hanging  or continued line.
indent-after-paren=4

[SIMILARITIES]

ignore-imports=yes

[MESSAGES CONTROL]


[REPORTS]

# Hide statistics, external dependencies and overall rating.
reports=no

# Activate the evaluation score.
score=yes

[SPELLING]

# Limits count of emitted suggestions for spelling mistakes
max-spelling-suggestions=4

# Spelling dictionary name. Available dictionaries: none. To make it working
# install python-enchant package.
spelling-dict=
