$primary: #01a99c; // burgundy
$secondary: #094142; // burgundy

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #fbb03b !default;
$green:   #094142 !default;
$teal:    #01a99c !default;
$cyan:    #17a2b8 !default;

@import url('https://fonts.googleapis.com/css?family=Capriola|Roboto:300,400,400i,700|Material+Icons');

$font-family-sans-serif:     'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$brand-font-family: 'Capriola', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$font-family-monospace:     'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$headings-font-family:  'Capriola',  Helvetica, Arial, sans-serif !default;

// Buttons
$btn-border-radius:       0 !default;
$btn-border-radius-lg:    0 !default;
$btn-border-radius-sm:    0  !default;
$btn-border-width:       2px !default;

$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;
$navbar-dark-color:  white !default;
