<footer class = "bg-secondary">
    <div class="container">
        <div class="row">
          <div class = "col-md-4">
<p class="text-white">The Oppia Foundation </p>
          </div>
          <div class = "col-md-4">
          </div>
          <div class = "col-md-4 ">
          <!--<div class="oppia-footer-social-icons">
             <div class="oppia-googleplus-follow"> <a href="https://plus.google.com/109898456505810251700/about" target="_blank"> <i class="oppia-follow-icons fa fa-google-plus fa-inverse"></i>
             <span class="oppia-icon-accessibility-label">Google Plus</span> </a> </div>
             <div class="oppia-youtube-follow"> <a href="https://www.youtube.com/channel/UC5c1G7BNDCfv1rczcBp9FPw" target="_blank"> <i class="oppia-follow-icons fa fa-youtube-play fa-inverse"></i> <span class="oppia-icon-accessibility-label">Youtube</span> </a> </div>
             <div class="oppia-facebook-follow"> <a href="https://www.facebook.com/oppiaorg" target="_blank"> <i class="oppia-follow-icons fa fa-facebook fa-inverse"></i> <span class="oppia-icon-accessibility-label">Facebook</span> </a> </div>
             <div class="oppia-twitter-follow"> <a href="https://twitter.com/oppiaorg" target="_blank"> <i class="oppia-follow-icons fa fa-twitter fa-inverse"></i> <span class="oppia-icon-accessibility-label">Twitter</span> </a> </div </div>--> </div>
          </div>
        </div>
      </div>
</footer>
