<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>
    {% if page.title %}{{ page.title | escape }} - {{ site.title | escape }}
    {% else %}{{ site.title | escape }}{% endif %}
  </title>

<meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

<link href="https://fonts.googleapis.com/css?family=Capriola|Roboto:400,400i,500,500i,700,700i" rel="stylesheet">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">

<link rel="stylesheet" href="{{"/css/main.css" | relative_url }}">

{% include analytics.html %}

</head>
