
<nav class="navbar navbar-expand-md navbar-dark fixed-top"  style="background-color: #01a99c;">
  <div class="container">
    <a class="navbar-brand" href="{{"/" | relative_url }}">The Oppia Foundation</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
  <span class="navbar-toggler-icon"></span>
</button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link" href="{{"/about" | relative_url }}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/partner" | relative_url }}">Partner</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/volunteer" | relative_url }}">Volunteer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/donate" | relative_url }}">Donate</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
