/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*******************************************************************************
Theme Styles (based on Slate Theme for GitHub Pages by Jason Costello,
@jsncostello)
*******************************************************************************/

body {
  box-sizing: border-box;
  color: #373737;
  background: #f2f2f2;
  font-size: 16px;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  max-width: 100%;
  max-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-weight: 700;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  letter-spacing: -1px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  padding-bottom: 0;
  margin-bottom: 20px;
  font-size: 32px;
  border-bottom: 2px dotted #CCCCCC;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 10px 0 15px 0;
}

center {
  font-size: 16px;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  line-height: 1.5;
}

footer p {
  color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #007edf;
  text-shadow: none;
  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
  cursor: pointer;
}

a:hover,
a:focus {
  text-decoration: underline;
}

footer a {
  color: #F2F2F2;
  text-decoration: underline;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

p img {
  display: inline;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  border: none;
}

blockquote {
  color: #666;
  margin-bottom: 20px;
  padding: 0 0 0 20px;
  border-left: 3px solid #bbb;
}

ul, ol {
  margin-bottom: 15px
}

ul {
  list-style-position: inside;
  list-style: disc;
  padding-left: 20px;
}

ol {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 20px;
}

hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
  background: url('../images/bg_hr.png') repeat-x center;
}

table {
  border: 1px solid #373737;
  margin-bottom: 20px;
  text-align: left;
}

th {
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  padding: 10px;
  background: #373737;
  color: #fff;
}

td {
  padding: 10px;
  border: 1px solid #373737;
}

form {
  background: #f2f2f2;
  padding: 20px;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer {
  width: 100%;
}

.inner {
  position: relative;
  padding: 20px 10px;
  margin: 0 auto;
}

.main-content {
  boxing-size: border-box;
  clear: both;
  margin: 0 auto;
  padding-bottom: 20px;
  position: relative;
  width: 67%;
}

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  display: block;
  float: left;
}

.oppia-foundation-button-horizontal-padding {
  padding-left: 20px;
  padding-right: 20px;
}

.oppia-foundation-horizontal-padding {
  padding-left: 40px;
  padding-right: 40px;
}

.oppia-foundation-vertical-padding {
  padding-top: 40px;
  padding-bottom: 40px;
}

.oppia-foundation-gray-background {
  background-color: #F4F4F4;
}

.oppia-foundation-green-background {
  background-color: #05a69a;
}

.oppia-foundation-white-background {
  background-color: white;
}

.oppia-foundation-black-text{
  color: black;
}

.oppia-foundation-green-text {
  color: #05a69a;
}

.oppia-foundation-white-text{
  color: white;
}

.md-button.oppia-foundation-gold-border-button {
  border: 3px outset goldenrod;
  width: 150px;
  margin-top: 20px;
}

.md-button.oppia-foundation-gold-border-button:hover,
.md-button.oppia-foundation-gold-border-button:focus {
  background-color: rgba(255,255,255,1);
  color: #05a69a;
}



/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 21px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 14px;
  }
  h6 {
    font-size: 12px;
  }
  code,
  pre {
    min-width: 320px;
    max-width: 480px;
    font-size: 11px;
  }
}


/*reduce the size of the image for small screen devices*/
@media screen and (max-width: 640px) {
  img {
    width: 100%;
  }
}

/* SMARTPHONES PORTRAIT AND LANDSCAPE */
@media only screen and (max-width: 799px) {
  .main-content {
    padding-top: 130px;
  }

}

/* SMARTPHONES LANDSCAPE */
@media only screen and (max-width : 799px) {
  .main-content {
    width: 100%;
  }

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 800px) and (max-width : 1024px) {
  .main-content {
    width: 90%;
  }
}

.active {
  color: #222222;
  /* Disables the link completely instead of just cursor: default; */
  font-weight: 600;
  pointer-events: none;
  text-decoration: none;
}
