---
layout: default
---
{% if page.background %}
  <header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
    <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto mh-100">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
              <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

    <div class="container-fluid">
         {{ content }}
</div>
