<!DOCTYPE html>
<div layout="row"
     layout-align="center center"
     ng-if="displayDesktopCarousel">
  <uib-carousel uib-carousel
                active="activeSlideIndex"
                interval="slideIntervalInMillisecs"
                no-wrap="noWrapSlides">
    <uib-slide uib-slide
               ng-repeat="slide in slides track by $index"
               index="$index">
      <img class="volunteer-page-carousel-profile-picture"
           ng-src="{{slide.profilePictureImageFilename}}"
           alt="Volunteer profile image">
      <md-card class="oppia-foundation-white-background
                      oppia-foundation-no-margin
                      volunteer-page-desktop-carousel-quote-container">
        <md-card-content layout="column"
                         class="oppia-foundation-white-background
                                oppia-foundation-horizontal-padding
                                volunteer-page-profile-text-box
                                volunteer-page-desktop-carousel-quote-box">
          <span class="volunteer-page-carousel-quote-text">
            &ldquo;{{slide.professionalQuote}}&rdquo;
          </span>
          <cite class="oppia-foundation-cite-text-box">
            <span class="oppia-foundation-bold-text">
              - {{slide.fullName}}
            </span>
            <p class="oppia-foundation-no-margin"></p>
            <span class="oppia-foundation-italic-text">
              {{slide.position}}
            </span>
          </cite>
        </md-card-content>
      </md-card>
    </uib-slide>
  </uib-carousel>
</div>

<div class="volunteer-page-mobile-carousel-container"
     layout="column"
     ng-if="displayMobileCarousel">
  <uib-carousel uib-carousel
                active="activeSlideIndex"
                interval="slideIntervalInMillisecs"
                no-wrap="noWrapSlides">
    <uib-slide uib-slide
               ng-repeat="slide in slides track by $index"
               index="$index">
      <img class="volunteer-page-carousel-profile-picture"
           ng-src="{{slide.profilePictureImageFilename}}"
           alt="Volunteer profile image">
      <div class="volunteer-page-quote-overlay"
           layout="column"
           layout-align="center center"
           show-xs
           show-sm
           hide-gt-sm>
        <md-card-content class="volunteer-page-mobile-carousel-quote-box
                                oppia-foundation-gray-background
                                volunteer-page-horizontal-padding
                                volunteer-page-carousel-profile-text-size"
                         layout="column">
          <span class="oppia-foundation-left-align-text">
            &ldquo;{{slide.professionalQuote}}&rdquo;
          </span>
          <cite class="oppia-foundation-cite-text-box">
            <span class="oppia-foundation-bold-text">
              - {{slide.fullName}}
            </span>
            <p class="oppia-foundation-no-margin"></p>
            <span class="oppia-foundation-italic-text">
              {{slide.position}}
            </span>
          </cite>
        </md-card-content>
      </div>
    </uib-slide>
  </uib-carousel>
</div>
